.root {
  border-width: 2px;
  border-color: light-dark(black, white);
  background-color: transparent;
  height: 45px;
}

.root:hover {
  border-color: var(--background-color);
  background-color: var(--background-color);
  cursor: pointer;
}

.text {
  color: light-dark(black, white);
}
